.racer_table td {
  background-color: black;
  height: 60px;
  width: 60px;
}

.racer_table td.active {
  background-color: white;
}

td {
    vertical-align: baseline;
    padding: 0px ;
}

.container{
   margin: auto;
  width: 112px;
}
