body, div, header, aside, footer {margin: 0px; padding: 0px;}
body {background-color: grey}

#wrapper {margin: auto;
background-color: white;
width:960px;
height: 500px;
padding: 10px}


header {background-color: black;
height: 100px;}



#Contentcontainer

footer {background-color: black;
height: 100px;}

#Articlecontainer

aside







